{% extends 'base.html' %}

{% block content %}

<h4 class="mb-4">Analytics</h4>

<div class="card p-4">
    <h5>Model Accuracy Comparison</h5>
    <canvas id="barChart"></canvas>
</div>

<script>
    const labels = [
        {% for name, val in results.items %}
            "{{ name }}",
        {% endfor %}
    ];

    const data = [
        {% for name, val in results.items %}
            {{ val.r2 }},
        {% endfor %}
    ];

    new Chart(document.getElementById("barChart"), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'R² Score',
                data: data
            }]
        }
    });
</script>

{% endblock %}