{% extends 'base.html' %}

{% block content %}

<h4 class="mb-4">Dashboard</h4>

<div class="row g-4">

    <!-- Cards -->
    <div class="col-md-4">
        <div class="card p-3">
            <h6>Total Records</h6>
            <h3>{{ data|length }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Avg CGPA</h6>
            <h3>{{ avg_cgpa }}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Avg GRE</h6>
            <h3>{{ avg_gre }}</h3>
        </div>
    </div>

</div>

<!-- Chart -->
<div class="card p-4 mt-4">
    <h5>CGPA vs Chance</h5>
    <canvas id="chart"></canvas>
</div>

<script>
    const cgpa = [
        {% for row in data %}
            {{ row.CGPA }},
        {% endfor %}
    ];

    const chance = [
        {% for row in data %}
            {{ row.Chance_of_Admit }},
        {% endfor %}
    ];

    new Chart(document.getElementById("chart"), {
        type: 'line',
        data: {
            labels: cgpa,
            datasets: [{
                label: 'Chance of Admit',
                data: chance
            }]
        }
    });
</script>

{% endblock %}